name: Docker Linux builds

on:
  push:
  workflow_dispatch:

jobs:
  manylinux2014:
    runs-on: ubuntu-latest
    container: quay.io/pypa/manylinux2014_x86_64
    steps:
    - name: Manual checkout
      run: |
        yum install -y git
        git config --global --add safe.directory /__w/vast/vast
        git clone https://github.com/${{ github.repository }} .
        git checkout ${{ github.sha }}
    - name: Install build dependencies
      run: |
        yum install -y gcc gcc-gfortran libX11-devel libpng-devel make wget
    - name: Collect debug info
      run: |
        readlink -f gfortran
        readlink -f gcc
        gfortran --version
        gcc --version
    - name: make VaST
      run: make

  alpine:
    needs: manylinux2014
    runs-on: ubuntu-latest
    container: alpine:latest
    steps:
    - uses: actions/checkout@v4
    - name: Install build dependencies
      run: |
        apk add --no-cache bash gcc g++ gfortran make musl-dev libx11-dev libpng-dev git curl file
    - name: Collect debug info
      run: |
        # alpine/busybox has 'which', but no 'readlink -f'
        which gfortran
        which gcc
        gfortran --version
        gcc --version
    - name: make VaST
      run: make

  debian:
    needs: alpine
    runs-on: ubuntu-latest
    container: debian:bookworm
    steps:
    - uses: actions/checkout@v4
    - name: Install build dependencies
      run: |
        apt-get update
        apt-get install -y build-essential gfortran libx11-dev libpng-dev iputils-ping curl wget file bc git
    - name: Collect debug info
      run: |
        readlink -f gfortran
        readlink -f gcc
        gfortran --version
        gcc --version
    - name: make VaST
      run: make

  fedora:
    needs: debian
    runs-on: ubuntu-latest
    container: fedora:latest
    steps:
    - uses: actions/checkout@v4
    - name: Install build dependencies
      run: |
        dnf install -y gcc gcc-gfortran gcc-c++ bc iputils wget file libX11-devel libpng-devel make git
    - name: Collect debug info
      run: |
        # fedora has 'readlink -f', but no 'which'
        readlink -f gfortran
        readlink -f gcc
        gfortran --version
        gcc --version
    - name: make VaST
      run: make

  almalinux9:
    needs: fedora
    runs-on: ubuntu-latest
    container: almalinux:9
    steps:
    - uses: actions/checkout@v4
    - name: Install build dependencies
      run: |
        dnf install -y --allowerasing gcc gcc-gfortran gcc-c++ make libX11-devel libpng-devel iputils curl wget file bc git
    - name: Collect debug info
      run: |
        readlink -f gfortran
        readlink -f gcc
        gfortran --version
        gcc --version
    - name: make VaST
      run: make

  opensuse:
    needs: almalinux9
    runs-on: ubuntu-latest
    container: opensuse/tumbleweed
    steps:
    - uses: actions/checkout@v4
    - name: Install build dependencies
      run: |
        zypper --non-interactive install gcc gcc-fortran gcc-c++ make libX11-devel libpng16-devel iputils curl wget file bc git
    - name: Collect debug info
      run: |
        readlink -f gfortran
        readlink -f gcc
        gfortran --version
        gcc --version
    - name: make VaST
      run: make

  archlinux:
    needs: opensuse
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
    - uses: actions/checkout@v4
    - name: Install build dependencies
      run: |
        pacman -Syu --noconfirm gcc gcc-fortran make libx11 libpng iputils curl wget file bc git
    - name: Collect debug info
      run: |
        readlink -f gfortran
        readlink -f gcc
        gfortran --version
        gcc --version
    - name: make VaST
      run: make
